<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Summarization</title>
    <link rel="icon" type="image/x-icon" href="video-marketing.png">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <!-- AOS  -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body>
    <h1>Video to Text Summary</h1>

    {% if text %}
        <h2>Transcribed Text:</h2>
        <p>{{ text }}</p>
    {% else %}
        <p>No text available.</p>
    {% endif %}

    {% if summary %}
        <h2>Text Summary</h2>
        <ul>
            {% for sentence in summary %}
                <li>{{ sentence }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>

</html>